* {
  border: 0px;
}

body {
  background-color: gray;
}

p {
  text-align: center;
}

.navbarbutton {
  background-color: gold;
  font-size: 20px;
}

.navbardropdowns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: lightgray;
}
.maincontainer {
  text-align: center;
  min-width: 30vh;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  outline: solid black 3px;
}

.gunstats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  outline: black solid 3px;
  background-color: darkgray;
}

.statcontainer {
  outline: black solid 2px;
}

.gundesc {
  margin: 50px;
  background-color: darkgray;
}

.comparebuttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bottombutton1{
  margin: 40px;
  background-color: yellow;
  border: none;
  color: black;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bottombutton2{
  margin: 40px;
  background-color: yellow;
  border: none;
  color: black;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

